.cabeçalho {
    background-color:#007F73;
    color: #4CCD99;
    display: flex;
    justify-content: space-around;
    }
    .cabeçalho-título {
        color:#FFC700;
    }
    
    .cabeçalho-lista{
        color: #FFF455;
       }
    
    .cabeçalho-imagem{
        width: 10%;
    }